*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, rgba(200, 14, 144, 0.1)), url('sarah-evans-unsplash-1.jpg');
  background-size: cover;
  background-position: center;
}

.snowflakes { 
  position: fixed; 
  inset: 0;
  pointer-events: none;
  z-index: 100;
}

.snowflakes .snowflake {
  position: absolute;
  top: -5vh;
  left: var(--left, 50vw);
  width: var(--size, 8px);  
  height: var(--size, 8px);
  background: white;
  border-radius: 50%;
  opacity: var(--opac, 0.8);
  filter: blur(0.6px);
  will-change: opacity;
  animation: snowfall var(--durat, 10s) linear var(--delay, 0s) infinite;
}

@keyframes snowfall { 
  0% { transform: translateY(0);} 
  100% { transform: translateY(105vh);}
}

.xmas-image-container {
  max-width: 25rem;
  margin: 0 auto 3rem;
}

.xmas-image {
  width: 100%;
}

.text {
  margin-bottom: 3rem;
  text-align: center;
}

.text h1 {
  font-size: 4rem;
  color: rgb(6, 90, 6);
  text-shadow: 0 -6px 3px rgba(255, 255, 255, 0.7);
  font-family: "Lily Script One", system-ui;
}

.text div {
  font-size: 1.1rem;
  font-weight: 350;
  color: rgb(253, 244, 232);
  line-height: 2;
  text-shadow: 1px 1px 0 rgba(87, 86, 78, 0.8);
}

.date-section {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
}

.date-format {
  height: 8rem;
  width: 7rem;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 0.4rem;
  color: rgb(185, 14, 14);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 6px 1px rgba(99, 56, 56, 0.7);
}

.date-format h4 {
  font-size: 2.8rem;
}

.expired {
  color: rgb(6, 90, 6);
  text-shadow: 0 0 1px rgba(87, 86, 78, 0.8);
  font-size: 1.5rem;
}

@media screen and (max-width:1580px) {
  .text h1 {
  font-size: 3.5rem;
  }
  .text div {
  font-size: 1rem;
  }
  .xmas-image-container {
  max-width: 18rem;
  margin: 0 auto 2rem;
  }
  .date-format {
  height: 7rem;
  width: 6rem;
  }
}

@media screen and (max-width:1420px) {
  .text h1 {
  font-size: 3.3rem;
  }
  .text div {
  font-size: 1rem;
  max-width: 32rem;
  }
  .xmas-image-container {
  max-width: 16rem;
  }
  .date-format {
  height: 6.5rem;
  width: 5.5rem;
  }
}

@media screen and (max-width:1270px) {
  .text h1 {
  font-size: 3rem;
  }
  .text div {
  font-size: 0.9rem;
  max-width: 29rem;
  }
  .xmas-image-container {
  max-width: 15rem;
  }
  .date-format {
  height: 6rem;
  width: 5rem;
  }
  .date-format h4 {
  font-size: 2.2rem;  
  }
}